<!-- Validation failure messages -->
<% if @home_court.errors.any? %>
  <% @home_court.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Home Court #<%= @home_court.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_home_court/<%= @home_court.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for teams_id -->
      <div class="form-group">
        <label for="teams_id" class="control-label">
          Teams
        </label>

        <%= select_tag(:teams_id, options_from_collection_for_select(Team.all, :id, :teams, @home_court.teams_id), :class => "form-control") %>
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @home_court.location %>">
      </div>

      <button class="btn btn-warning">
        Update Home Court
      </button>
      or
      <a href="/home_courts/<%= @home_court.id %>">Cancel</a>
    </form>
  </div>
</div>
